/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
<<<<<<< HEAD
*/
=======

>>>>>>> 41869f27529f6a50a984b2372ee9f694212cef79
