<h1> Welcome <%= @user.username %>!</h1>

<h3> Edit Your Information </h3>
<section id = "editform">
  <form method="post" action="/users/<%= @user.id %>">
    <input type="hidden" name="_method" value="put">
    <label for='username'></label>
    <input name='username' type='text' required='' placeholder="Username"><br>
    <label for='password'></label>
    <input name='password' type='password' required='' placeholder="Password">
    <input type='submit' value='Submit'>
  </form>
