<div class="container">
<h2>Register For Our Site</h2>

<section id = "regform">
  <form method="post" action="/users">
    <label for='username'></label>
    <input name='username' type='text' required='' placeholder="Username"><br>
    <label for='password'></label>
    <input name='password' type='password' required='' placeholder="Password">
    <input type='submit' value='Create Account'>
  </form>
</section>
</div>
