<form method="post" action="/questions/<%= @question_id %>/answers" id="new_entry">
  <input type='hidden' name='answer[commenter_id]' value='<%= session[:user_id] %>'>
  <input type='hidden' name='answer[question_id]' value ='<%= @question_id %>'>
  <label for="answer[description]">Answer:</label>
  <textarea name="answer[description]" form="new_entry" rows='10' style="width: 25%" placeholder="your answer here"></textarea><br><br>
  <input type="submit" value="Respond">
</form>
