<% if is_authenticated? %>
  <p><a href='/users/logout'>Log Out</a></p>
  <a href='/entries/new'>Create New Entry</a>
<% else %>
  <a href='/users/new'>Register</a>
  <p><a href='/users/login'>Login</a></p>
<% end %>



<% @entries.each do |entry| %>
  <p><a href='/entries/<%= entry.id %>'><%= entry.title %></a></p>
<% end %>

