<%= erb :'/_navbar' %>
<div class="container">
    <div class="page-header text-center">
      <h1 class="avengerstitle">The Revengers</h1>
      <h4 class="avengerstitle">Earths Mightiest Heroes</h4>
    </div>
</div>

<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-10">
  <img src="/images/avengers.png" alt="Revengers" style="width:769px;height:267px;">
</div>
</div>
