<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">

    <div class="page-header text-center">
      <h1>Cookie Overflow</h1>
      <h4>When Lisa spoils you too much</h4>
    </div>

  </div>
  <div class="col-md-4">.col-md-4</div>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Cookie Questions</div>

  <!-- Table -->
  <table class="table table-hover">
    <tr>
      <td>1234</td>
      <td>1234</td>
      <td>1234</td>
    </tr>
    <tr>
      <td>1234</td>
      <td>1234</td>
      <td>1234</td>
    </tr>
     <tr>
      <td>1234</td>
      <td>1234</td>
      <td>1234</td>
    </tr>
  </table>
</div>
